<div class="row gap-12">
  <div class="col-xs-7">
    <div class="search flex items-center justify-center gap-12 h-45 text-white-blue border-2 border-white-blue border-radius-24">
      <i class="fa-solid fa-magnifying-glass"></i>
      <p>search</p>
    </div>
  </div>
  <div class="col-xs-2 flex justify-center">
    <div class="search flex items-center justify-center gap-12 h-45 w-45 text-white-blue border-2 border-white-blue rounded-full">
      <i class="fa-solid fa-bell"></i>
    </div>
  </div>
  <div class="col-xs-2 flex justify-start">
    <div class="search flex items-center justify-center gap-12 h-45 w-45 bg-blue-300 shadow-lg text-white rounded-full">
      <i class="fa-solid fa-cloud-arrow-up"></i>
    </div>
  </div>
</div>
