/*
 *
 * Border
 *
*/
$i: 0;
@while $i < 100 {
	.border-#{$i} {
		border: $i + px solid;
	}

	.border-b-#{$i} {
		border-bottom: $i + px solid;
	}

	.border-t-#{$i} {
		border-top: $i + px solid;
	}

	.border-l-#{$i} {
		border-left: $i + px solid;
	}

	.border-r-#{$i} {
		border-right: $i + px solid;
	}
	$i: $i + 1;
}

/*
 *
 * Border color
 *
*/
@each $color, $value in $theme-colors {
  .border-#{$color} {
    border-color: $value;
  }
}

/*
 *
 * Border Radius
 *
*/
$i: 0;
@while $i < 100 {
	.border-radius-#{$i} {
		border-radius: $i + px;
	}
	$i: $i + 1;
}

.rounded-full {
  border-radius: 100%;
}
