/*
 *
 * Line Height
 *
*/
$j: 1;
@while $j <5 {
  .lines-#{$j} {
    line-height: 1.5em;
    height: $j * 1.5em;
    overflow: hidden;
  }
  $j: $j + 1;
}

/*
 *
 * Shadows Variants
 *
*/
.shadow-sm {
  @include box-shadow-variants(0 1px 2px 0 rgba(0, 0, 0, 0.05))
}

.shadow-default {
  @include box-shadow-variants(0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06))
}

.shadow-md {
  @include box-shadow-variants(0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06))
}

.shadow-lg {
  @include box-shadow-variants(0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05))
}

.shadow-xl {
  @include box-shadow-variants(0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04))
}

.shadow-2xl {
  @include box-shadow-variants(0 25px 50px -12px rgba(0, 0, 0, 0.25))
}


/*
 *
 * Height Variants
 *
*/
.min-h-screen {
  min-height: 100vh;
}

.min-h-full {
  min-height: 100%;
}

$j: 1;
@while $j < 1000 {
  .h-#{$j} {
    height: $j + px !important;
  }

  .min-h-#{$j} {
    min-height: $j + px !important;
  }

  .max-h-#{$j} {
    max-height: $j + px !important;
  }
  $j: $j + 1;
}

/*
 *
 * width Variants
 *
*/

.w-full {
  width: 100%;
}

$j: 1;
@while $j < 1000 {
  .w-#{$j} {
    width: $j + px;
  }

  .min-w-#{$j} {
    min-width: $j + px;
  }

  .max-w-#{$j} {
    max-width: $j + px;
  }
  $j: $j + 1;
}

/*
 *
 * images Variants
 *
*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

/*
 *
 * lists Variants
 *
*/
ul,
ol {
  list-style: none;
}

/*
 *
 * href Variants
 *
*/
a {
  text-decoration: none;
  color: $black;
}

// margins
$i: 0;
@while $i < 200 {
	.m-#{$i} {
		margin: $i + px !important;
	}

  .my-#{$i} {
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}

  .mx-#{$i} {
		margin-right: $i + px !important;
		margin-left: $i + px !important;
	}

  .mt-#{$i} {
		margin-top: $i + px !important;
	}
  .mb-#{$i} {
		margin-bottom: $i + px !important;
	}
  .ml-#{$i} {
		margin-left: $i + px !important;
	}
  .mr-#{$i} {
		margin-right: $i + px !important;
	}
	$i: $i + 1;
}


// paddings
$i: 0;
@while $i < 200 {
	.p-#{$i} {
		padding: $i + px !important;
	}

  .py-#{$i} {
		padding-top: $i + px !important;
		padding-bottom: $i + px !important;
	}

  .pt-#{$i} {
		padding-top: $i + px !important;
	}

  .pb-#{$i} {
		padding-bottom: $i + px !important;
	}

  .px-#{$i} {
		padding-right: $i + px !important;
		padding-left: $i + px !important;
	}

  .pl-#{$i} {
		padding-left: $i + px !important;
	}

  .pr-#{$i} {
		padding-right: $i + px !important;
	}

	$i: $i + 1;
}

// Pointer
.cursor-pointer {
  cursor: pointer;
}

// positions
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}
