@import '../../../assets/style/helpers/theme-colors';

.active {
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  .icon {
    color: $primary;
    transition: all 300ms ease-in-out;
  }
  p {
    color: $dark-blue;
    transition: all 300ms ease-in-out;
  }
}

.hover-link {
  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 300ms ease-in-out;
    .icon {
      color: $primary;
      transition: all 300ms ease-in-out;
    }
    p {
      color: $dark-blue;
      transition: all 300ms ease-in-out;
    }
  }
}
