<div class="flex items-center justify-space-between gap-8">
  <a href="#" class="text-white-blue">About</a>
  <div class="w-5 h-5 bg-white-blue rounded-full"></div>
  <a href="#" class="text-white-blue">Help</a>
  <div class="w-5 h-5 bg-white-blue rounded-full"></div>
  <a href="#" class="text-white-blue">Terms</a>
  <div class="w-5 h-5 bg-white-blue rounded-full"></div>
  <a href="#" class="text-white-blue">Popular</a>
  <div class="w-5 h-5 bg-white-blue rounded-full"></div>
  <a href="#" class="text-white-blue">Language</a>
</div>
