<div class="flex items-center justify-center bg-white-gray flex-col p-32 border-1 border-white border-radius-24">
  <div class="flex items-center gap-16">
    <img src="/assets/images/card-images/poster6.PNG" class="poster-img img-fluid border-1 border-white border-radius-24" alt="poster" />
    <div>
      <h5 class="text-dark-blue font-size-20 font-weight-500 mb-16 poster-title">Minimalist Michael Stairs</h5>
      <div class="flex items-center gap-12 poster-btns">
        <div class="flex items-center gap-2 text-red-400">
          <i class="fa-solid fa-heart"></i>
          <p>24</p>
        </div>
        <div class="flex items-center gap-2 text-white-blue">
          <i class="fa-solid fa-comment-dots"></i>
          <p>12</p>
        </div>
        <div class="flex items-center gap-2 text-white-blue">
          <i class="fa-solid fa-bookmark"></i>
          <p>8</p>
        </div>
      </div>
    </div>
  </div>

  <h5 class="text-primary font-size-20 font-weight-500 mt-24 see-more-btn">See all posts</h5>
</div>
