/*
 *
 * @mixin [font-size]
 *
*/
@mixin font-size() {
  $font-size-list: 12 14 16 18 20 24 26 30 32 36 40;

  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: pxToRem($value);
    }
  }
}
@include font-size();

/*
 *
 * @mixin [font-weight]
 *
*/
@mixin font-weight() {
  $font-weight-list: 100 200 300 400 500 600 700 800 900;

  @each $value in $font-weight-list {
    .font-weight-#{$value} {
      font-weight: $value;
    }
  }
}

@include font-weight();
