<header
  class="header w-full py-8 px-10 flex items-center justify-space-between">
  <div class="logo">
    <h1 class="text-primary font-weight-500 font-size-26">Cofeed</h1>
  </div>
  <div class="flex items-center justify-space-between gap-12">
    <a
      href="#"
      class="flex flex-col items-center gap-6 text-secondary font-size-26 font-weight-500 pb-12 pt-16 px-10 hover-link"
      title="saved">
      <i class="fa-solid fa-bookmark"></i>
    </a>
    <a
      href="#"
      class="flex flex-col items-center gap-6 text-secondary font-size-26 font-weight-500 pb-12 pt-16 px-10 hover-link"
      title="message">
      <i class="fa-solid fa-comment-dots"></i>
    </a>
  </div>
</header>
