.header {
  position: fixed;
  top: 0px;
  z-index: 100;
}

.shadow {
  background-color: #FFF !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
