<div>
  <div class="mb-12">
    <img src="{{postImage}}" alt="poster" class="img-fluid border-2 border-white border-radius-25 h-300" />
  </div>
  <div class="flex items-center justify-space-between">
    <div class="flex items-center gap-8">
      <img src="{{posterImage}}" alt="poster" class="img-fluid w-35 h-35 rounded-full" />
      <h6 class="text-dark-blue font-size-18 font-weight-500 hover-item">{{posterName}}</h6>
    </div>
    <div class="flex items-center gap-16">
      <button
      class="border-0 flex items-center gap-2 bg-none font-size-18 cursor-pointer text-white-blue"
      [ngClass]="{'text-red-400': likeCount > 0}"
      (click)="addLike(postId, likeCount);">
        <i class="fa-solid fa-heart"></i>
        <p>{{likeCount}}</p>
      </button>
      <button class="border-0 flex items-center gap-2 bg-none font-size-18 text-white-blue cursor-pointer">
        <i class="fa-solid fa-comment-dots"></i>
        <p>{{commentsCount}}</p>
      </button>
    </div>
  </div>
</div>
